<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/4a2b055604.js"
      crossorigin="anonymous"
    ></script>
    <title>Get schooled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <link rel="stylesheet" href="/assert/.css" />
    <link rel="stylesheet" href="/assert/styles.css" />
  </head>
  <body>
    <header>
      <img class="logo" src="/images/logo.png" alt="logo" />
      <nav class="nav">
        <ul>
          <li><a href="#">COURSE</a></li>
          <li><a href="#">PRICING</a></li>
          <li><a href="#">LOGIN</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="container">
          <h1>Get schooled</h1>
          <div class="tags">
            <span>SMILES</span>
            <span>GRIN</span>
            <span>LAUGH</span>
          </div>
          <button class="register-btn">REGISTER FOR FREE</button>
        </div>
        <div class="learn">
          <h2><span>Learn</span> from the pros</h2>
          <div class="grid">
            <div id="Phillip_Massey">
              <img src="/images/1.png" alt="" />
              <h3>Phillip_Massey</h3>
              <p>« Smile of the year » 2018 - 2019</p>
            </div>
            <div id="Nannie_Lawrence">
              <img src="./images/3.png" alt="" />
              <h3>Nannie Lawrence</h3>
              <p>Best « little smile » 2017</p>
            </div>
            <div id="Bruce_Walters">
              <img id="Bruce" src="./images/2.png" alt="" />
              <h3>Bruce Walters</h3>
              <p>Best « Friend Smile » live performance 2019</p>
            </div>
            <div id="Henry_Hughes">
              <img src="./images/4.png" alt="" />
              <h3>Henry Hughes</h3>
              <p>« 24h smiles » winner 2016 - 2019</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="weather">
          <img src="/images/5.png" alt="image" />

          <div class="text">
            <blockquote>
              « Those tutorials are concise and go straight to the point. I
              can’t think of a better place to learn smiling. And it’s so fun!
            </blockquote>
            <h3>Diagonal Smile</h3>
            <h3>NAME</h3>
            <p>weather presenter</p>
          </div>
        </div>
      </section>

      <section>
        <h2 id="most">Most <span>popular</span> tutorials</h2>
        <div class="grid-container">
          <div class="grid-item">
            <div class="themnail">
              <img src="/images/play.png" alt="Diagonal Smile" />
            </div>
            <div class="author-info">
              <img src="/images/9.png" alt="Phillip Massey" />
            </div>
            <h3>Diagonal Smile</h3>
            <p>
              Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
              eiusmod.
            </p>
             <div id="Phillip_Massey_one">
              <img src="/images/1.png" alt="" />
            <span>Phillip Massey</span>
            </div>


            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <span>
              <i class="fa-solid fa-star"></i>
              </span>
            </div>
            <p>8 min</p>
          </div>
          <div class="grid-item">
            <div class="themnail">
              <img src="/images/play.png" alt="Sad Smile" />
            </div>
            <div class="author-info">
              <img src="/images/7.png" alt="Phillip Massey" />
            </div>
            <h3>Sad Smile</h3>
            <p>
              Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
              eiusmod.
            </p>
            <div id="Phillip_Massey_one">
              <img src="/images/1.png" alt="" />
            <span>Phillip Massey</span>
            </div>

            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <span>
              <i class="fa-solid fa-star"></i>
              </span>
            </div>
            <p>8 min</p>
          </div>
          <div class="grid-item">
            <div class="themnail">
              <img src="/images/play.png" alt="Natural Smile" />
            </div>
            <div class="author-info">
              <img src="/images/6.png" alt="Phillip Massey" />
              <h3>Natural Smile</h3>
              <p>
                Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
                eiusmod.
              </p>
               <div id="Phillip_Massey_one">
              <img src="/images/1.png" alt="" />
            <span>Phillip Massey</span>
            </div>

            </div>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <span>
              <i class="fa-solid fa-star"></i>
              </span>
            </div>
            <p>8 min</p>
          </div>
          <div class="grid-item">
            <div class="themnail">
              <img src="/images/play.png" alt="Happy Smile" />
            </div>
            <div class="author-info">
              <img src="/images/8.png" alt="Phillip Massey" />
            </div>
            <h3>Happy Smile</h3>
            <p>
              Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
              eiusmod.
            </p>
             <div id="Phillip_Massey_one">
              <img src="/images/1.png" alt="" />
            <span>Phillip Massey</span>
            </div>


            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <span>
              <i class="fa-solid fa-star"></i>
              </span>
            </div>
            <p>8 min</p>
          </div>
        </div>
      </section>
      <section>
        <div id="freemembership">
        <h2 id="membership"><span>Free </span> membership</h2>
      <div id="Free">
        <div>
          <img src="/images/smile.png" alt="" />
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
          <img src="/images/smile.png" alt="" />
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
          <img src="/images/smile.png" alt="" />
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
          <img src="/images/smile.png" alt="" />
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
        <button id="reg-btn"> REGISTER FOR FREE</button>
        </div>
      </section>

      <section id="faq">
  <h2 id="FNQ1">F.A.Q</h2>
  <div class="faq">
    <div class="Paragraphy">
      <h3>How does this work?</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    </div>
    <div class="Paragraphy">
      <h3>How does this work?</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="Paragraphy">
      <h3>How does this work?</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="Paragraphy">
      <h3>How does this work?</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>

    </main>
   <footer>
  <section id="col">
    <div class="footer">
      <img src="/images/logo.png" alt="logo" />
      <div class="icon">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
    <p id="rights">©smileschool 2020</p>
  </section>
</footer>

      </section>
    </footer>
  </body>
</html>
